@font-face {
    font-family: 'HaasGrotDisp-65Medium';
    src: url('../fonts/HaasGrotDisp-65Medium/HaasGrotDisp-65Medium.eot');
    src: url('../fonts/HaasGrotDisp-65Medium/HaasGrotDisp-65Medium.eot?#iefix') format('embedded-opentype'),
         url('../fonts/HaasGrotDisp-65Medium/HaasGrotDisp-65Medium.woff') format('woff'),
         url('../fonts/HaasGrotDisp-65Medium/HaasGrotDisp-65Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'HaasGrotDisp-15XXThin';
  src: url('../fonts/HaasGrotDisp-15XXThin/HaasGrotDisp-15XXThin.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HaasGrotDisp-15XXThin/HaasGrotDisp-15XXThin.otf')  format('opentype'),
	     url('../fonts/HaasGrotDisp-15XXThin/HaasGrotDisp-15XXThin.woff') format('woff'),
       url('../fonts/HaasGrotDisp-15XXThin/HaasGrotDisp-15XXThin.ttf')  format('truetype'),
       url('../fonts/HaasGrotDisp-15XXThin/HaasGrotDisp-15XXThin.svg#HaasGrotDisp-15XXThin') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'HaasGrotDisp-55Roman';
  src: url('../fonts/HaasGrotDisp-55Roman/HaasGrotDisp-55Roman.eot?#iefix') format('embedded-opentype'),
       url('../fonts/HaasGrotDisp-55Roman/HaasGrotDisp-55Roman.otf')  format('opentype'),
	     url('../fonts/HaasGrotDisp-55Roman/HaasGrotDisp-55Roman.woff') format('woff'),
       url('../fonts/HaasGrotDisp-55Roman/HaasGrotDisp-55Roman.ttf')  format('truetype'),
       url('../fonts/HaasGrotDisp-55Roman/HaasGrotDisp-55Roman.svg#HaasGrotDisp-55Roman') format('svg');
  /*font-weight: normal;
  font-style: normal;*/
}
