html, body {
  margin: 0;
  padding: 0;
}


body {
  font: 1.1em 'Playfair Display', serif;
  font-smoothing: antialiased;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  line-height: 1.47;
  letter-spacing: 0;
  color: #ffffff;
  letter-spacing: -0.012em;
}

h1 {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column-4 {
  width: 21.73%;
  float: left;
  min-height: 1px;
}

.column-1 {
  width: 4.35%;
  float: left;
  min-height: 1px;
}

.column-left {
  width: 43.47%;
  float: left;
  min-height: 1px;
}

.column-right {
  width: 56.53%;
  float: left;
  min-height: 1px;
}

.container {
  max-width: 1380px;
  margin: 0 auto;
  position: relative;
}

.section {
  mix-blend-mode: soft-light;
}

.slide-home {
  background-color: #414143;
  background-image: url('../img/fundo-slide-home.png');
  background-size: cover;
  background-position: center;
}

.rb-title {
  font-family: 'HaasGrotDisp-65Medium';
  font-size: 136px;
  line-height: 0.96;
  letter-spacing: -4.5px;
  font-weight: 100;
}

.slide-home .rb-title {
  padding-top: 18%;
}

.rb-color-blue {
  color: #16b9f8;
}

.rb-color-black {
  color: black;
}

.rb-color-yellow {
  color: #f5a623;
}

.rb-header {
  font: 20px 'Playfair Display', serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  position: absolute;
  top: 70px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rb-header::after {
  content: "";
  border-bottom: 2px solid white;
  display: block;
  margin-top: -9px;
  margin-left: 60px;
}

.rb-section-column {
  padding-top: 27px;
  border-top: 2px solid white;
}

.rb-baseline {
  position: fixed;
  bottom: 84px;
  width: 100%;
}

.rb-number {
  font: 92px 'HaasGrotDisp-15XXThin';
  float: left;
  line-height: .9em;
  margin-right: 15px;
}

.rb-social-icon {
  margin-right: 6px;
}

.slide-globo {
  background-color: #404042;
}

.portfolio-g1 {
  background-color: #d72424;
}

.rb-portfolio {
  padding-top: 203px;
}

.rb-portfolio__head {
  font: 23px 'Playfair Display';
  font-style: italic;
  line-height: 1.09;
  letter-spacing: -0.5px;
  margin-bottom: 35px;
}

.rb-portfolio__title {
  width: 76%;
  font-family: 'HaasGrotDisp-65Medium';
  font-size: 6.0em;
  line-height: 0.87;
  letter-spacing: -4.5px;
  font-weight: 100;
  color: white;
  border-bottom: 2px solid white;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.rb-portfolio__content {
  width: 76%;
  margin-bottom: 40px;
}

.rb-bullet {
  font-size: 55px;
  vertical-align: bottom;
  line-height: 0.68em;
  margin-left: -7px;
}

.rb-portfolio__detail {
  float: left;
  width: 100%;
  margin-bottom: 8px;
}

.rb-portfolio__detail__label {
  float: left;
  width: 4.68em;
  color: #f5a623;
  font-family: 'HaasGrotDisp-65Medium';
}

.rb-portfolio__detail__value {
  float: left;
}

.portfolio-zamante {
  background-color: #384A56;
}

.portfolio-zamante .rb-bullet {
  margin-left: 7px;
}

.portfolio-talks {
  background-color: #22222E;
}

.portfolio-secure {
  background-color: #1E5072;
}

.portfolio-multicontent {
  background-color: #242424;
}

.portfolio-multicontent .rb-portfolio__title {
  width: 85%;
}

.portfolio-elections {
  background-color: #c4170c;
}

.portfolio-ge {
  background-color: #278300;
}

.portfolio-about {
  background-color: #404042;
}

.portfolio-about .column-left {
  width: 45%;
}

.portfolio-about .column-right {
  width: 55%;
}

.portfolio-about .rb-title {
  font-size: 100px;
  line-height: 0.85;
  margin-bottom: 145px;
}

.portfolio-about .rb-bullet {
  line-height: 0.60em;
}

.rb-about {
  padding-top: 210px;
}

.rb-profile {
  width: 70%;
  line-height: 1.70;
}

.rb-profile__photo {
  display: block;
  margin-bottom: 30px;
}

.rb-interest {
  overflow: hidden;
  clear: both;
}

.rb-interest__photo {
  float: left;
  width: 46%;
  line-height: 0;
}

.rb-interest__photo::after {
  content: "";
  border-bottom: 1px solid #6f6f70;
  display: block;
  width: 93%;
  margin-bottom: 1px;
}

.rb-interest:last-child .rb-interest__photo::after {
  display: none;
}

.rb-interest__number {
  float: left;
  width: 9%;
  font: 4.12em 'HaasGrotDisp-65Medium';
  line-height: 0.9em;
  padding-top: 18px;
}

.rb-interest__details {
  padding-top: 19px;
  float: right;
  width: 45%;
}

.rb-interest__title {
  color: #f5a623;
  font: 1.62em 'HaasGrotDisp-65Medium';
  margin-bottom: 0.2em;
}

.rb-interest__text {
  font-size: 0.93em;
  line-height: 1.40;
}
