html, body {
  margin: 0;
  padding: 0;
}


body {
  font: 17px 'Playfair Display', serif;
  font-weight: 400;
  line-height: 1.47;
  letter-spacing: 0;
  color: #ffffff;
}

h1 {
  padding: 0;
  margin: 0;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.column-4 {
  width: 25%;
  float: left;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  position: relative;
}

.slide {
  /*opacity: 0.12;
  mix-blend-mode: soft-light;*/
}

.slide-home {
  background-color: #414143;
}

.slide-home .rb-title {
  font-family: 'HaasGrotDisp-65Medium';
  font-size: 136px;
  line-height: 0.96;
  letter-spacing: -4.5px;
  padding-top: 203px;
  font-weight: 100;
}

.slide-globo {
  background-color: red;
}

.rb-color-blue {
  color: #16b9f8;
}

.rb-header {
  font: 20px 'Playfair Display', serif;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.2px;
  position: absolute;
  top: 84px;
  left: 0;
  width: 100%;
  z-index: 1;
}

.rb-header::after {
  content: "";
  border-bottom: 2px solid white;
  display: block;
  margin-top: -9px;
  margin-left: 60px;
}

.rb-section-column {
  margin-right: 60px;
  padding-top: 27px;
  border-top: 2px solid white;
}

.rb-baseline .column-4:last-child .rb-section-column {
  margin-right: 0;
}

.rb-baseline {
  position: fixed;
  bottom: 84px;
  width: 100%;
}
