@media only screen and (min-width: 641px) and (max-width: 1024px) {
  body {
    font-size: .95em;
  }

  .container {
    width: 90%;
  }

  .rb-header {
    top: 45px;
  }

  .rb-baseline {
    bottom: 25px;
  }

  .rb-section-column {
    padding-top: 16px;
    line-height: 1.20;
  }

  .rb-number {
    font-size: 76px;
  }

  .slide-home .rb-title {
    font-size: 105px;
    padding-top: 17%;
    line-height: 0.94;
  }
}

@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  @media only screen and (min-height: 700px) and (max-height: 899px) {
    body {
      font-size: .95em;
    }

    .container {
      width: 90%;
    }

    .rb-header {
      top: 60px;
    }

    .rb-baseline {
      bottom: 40px;
    }

    .slide-home .rb-title {
      padding-top: 16%;
      font-size: 100px;
      line-height: .9;
    }
  }

  @media only screen and (min-height: 900px) and (max-height: 1280px) {
    body {
      font-size: 1em;
    }

    .container {
      width: 90%;
    }

    .rb-header {
      top: 60px;
    }

    .rb-baseline {
      bottom: 40px;
    }

    .slide-home .rb-title {
      padding-top: 21%;
      font-size: 130px;
      line-height: .9;
    }
  }
}


@media only screen and (min-width: 1281px) and (max-width: 1366px) {
  body {
    font-size: 1em;
  }

  .container {
    width: 90%;
  }

  .rb-header {
    top: 45px;
  }

  .rb-baseline {
    bottom: 30px;
  }

  .slide-home .rb-title {
    padding-top: 12%;
    font-size: 110px;
    line-height: .9;
  }
}


@media only screen and (min-width: 1367px) and (max-width: 1600px) {

  .container {
    width: 90%;
  }

  .rb-header {
    top: 45px;
  }

  .rb-baseline {
    bottom: 40px;
  }

  .slide-home .rb-title {
    padding-top: 12%;
    line-height: .9;
  }
}

@media only screen and (max-width: 640px) {
  body {
    font-size: 0.9em;
  }

  .container {
    width: 90%;
  }

  .rb-header {
    top: 15px;
    font-size: 17px;
  }

  .rb-header::after {
    margin-left: 48px;
  }

  .rb-title {
    font-size: 48px;
    line-height: 0.93;
    letter-spacing: -2.0px;
  }

  .slide-home .rb-title {
    padding-top: 34%;
  }

  .hide-mobile {
    display: none;
  }

  .rb-baseline {
    bottom: 20px;
  }

  .rb-section-column {
    padding-top: 12px;
  }

  .rb-social-icon {
    margin-top: 4px;
  }

  .column-4 {
    width: 100%;
  }
}

@media only screen and (max-width: 736px) and (orientation:landscape) {
  .hide-mobile {
    display: none;
  }

  .column-4 {
    width: 100%;
  }

  .rb-title {
    letter-spacing: -2.0px;
  }

  .slide-home .rb-title {
    font-size: 47px;
    padding-top: 12% !important;
  }
}

@media only screen and (max-width: 375px) {
  body {
    font-size: 1.1em;
  }

  .rb-title {
    font-size: 55px;
  }

  .rb-header {
    top: 19px;
  }

  .slide-home .rb-title {
    padding-top: 51%;
  }

  .rb-header::after {
    margin-left: 51px;
  }
}

@media only screen and (max-width: 568px) and (orientation:landscape) {
  body {
    font-size: 0.9em;
  }

  .rb-social-icon {
    margin-top: 0;
  }

  .slide-home .rb-title {
    font-size: 39px;
    padding-top: 11% !important;
  }

  .rb-header {
    top: 15px;
  }
}
