.rb-portfolio {
  padding: 0;
  padding-top: 5%;

  display: table-cell;
  vertical-align: middle;
  width: 100%;
  height: 100%;
}

@media only screen and (min-width: 1024px) and (max-width: 1600px) {
  body {
    font-size: 0.9em;
  }

  .container {
    width: 90%;
  }

  .rb-header {
    top: 40px;
  }

  .rb-portfolio__title {
    padding-bottom: 24px;
    margin-bottom: 24px;
    font-size: 4.5em;
    letter-spacing: -3.0px;
  }

  .rb-portfolio__head {
    font-size: 18px;
    margin-bottom: 20px;
  }

  .rb-portfolio__content {
    margin-bottom: 20px;
  }

  .column-left {
    width: 40%;
  }

  .column-right {
    width: 60%;
  }

  .column-left img {
    width: 80%;
  }

  .rb-portfolio__detail {
    margin-bottom: 2px;
  }
}

@media only screen and (min-width: 641px) and (max-width: 1023px) {
  .column-left img {
    width: 80%;
  }

  .rb-portfolio__title {
    width: 90%;
    padding-bottom: 30px;
    margin-bottom: 30px;
    font-size: 4.6em;
    letter-spacing: -3.5px;
  }

  .rb-portfolio__content {
    width: 90%;
    margin-bottom: 20px;
  }

  .rb-portfolio__head {
    font-size: 20px;
    margin-bottom: 20px;
  }

  .rb-bullet {
    font-size: 35px;
  }

  .portfolio-zamante .rb-bullet {
    margin-left: 3px;
  }

  .portfolio-multicontent .rb-portfolio__title {
    font-size: 3.7em;
    letter-spacing: -2.8px;
  }

  .portfolio-multicontent .rb-bullet {
    font-size: 30px;
    margin-left: -4px;
  }
}

@media only screen and (max-width: 640px) {
  .column-left,
  .column-right {
    float: none;
    width: 100%;
  }

  .column-left {
    text-align: left;
  }

  .column-left img {
    /*width: 45%;
    margin-bottom: 15px;*/
    display: none;
  }

  .rb-portfolio {
    vertical-align: bottom;
    padding-bottom: 30px;
  }

  .rb-portfolio__head {
    /*font-size: 16px;*/
    margin-bottom: 15px;
    font-size: 1.25rem;
    color: white;
  }

  .rb-portfolio__title {
    width: 100%;
    /*font-size: 2.7em;*/
    letter-spacing: -2.5px;
    padding-bottom: 25px;
    margin-bottom: 0;
    font-size: 3.8rem;
  }

  .rb-bullet {
    font-size: 30px;
    margin-left: -3px;
  }

  .rb-portfolio__content,
  .rb-portfolio__details {
    display: none;
  }

  .portfolio-g1 {
    background-image: url('../img/mobile-fundo-g1.png');
    background-size: cover;
    background-position: center;
  }

  .portfolio-g1 .rb-portfolio__title .rb-color-black {
    color: #d72424;
  }

  .rb-portfolio__detail__label--smart {
    display: block;
    font: 1rem 'Playfair Display';
    letter-spacing: -0.3px;
    padding-top: 12px;
  }
}
