
@font-face {
  font-family: 'HaasGrotDisp-55Roman';
  src: url('HaasGrotDisp-55Roman.eot?#iefix') format('embedded-opentype'),  url('HaasGrotDisp-55Roman.otf')  format('opentype'),
	     url('HaasGrotDisp-55Roman.woff') format('woff'), url('HaasGrotDisp-55Roman.ttf')  format('truetype'), url('HaasGrotDisp-55Roman.svg#HaasGrotDisp-55Roman') format('svg');
  font-weight: normal;
  font-style: normal;
}
